In [1]:
import pandas as pd
data=pd.read_csv('final_data.csv')

In [2]:
data.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [27]:
X = data.drop(['Churn', 'customerID', 'Unnamed: 0'], axis=1)
y = data['Churn']

In [46]:
from sklearn.feature_selection import SelectFromModel

In [28]:
features = X.columns.tolist()

In [29]:
features

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges']

In [30]:
numerical_columns = X.select_dtypes(include=['number']).columns.tolist()

In [31]:
numerical_columns

['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

In [32]:
data.describe()

        Unnamed: 0  SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count  7043.000000    7043.000000  7043.000000     7043.000000   7032.000000
mean   3521.000000       0.162147    32.371149       64.761692   2283.300441
std    2033.283305       0.368612    24.559481       30.090047   2266.771362
min       0.000000       0.000000     0.000000       18.250000     18.800000
25%    1760.500000       0.000000     9.000000       35.500000    401.450000
50%    3521.000000       0.000000    29.000000       70.350000   1397.475000
75%    5281.500000       0.000000    55.000000       89.850000   3794.737500
max    7042.000000       1.000000    72.000000      118.750000   8684.800000

In [33]:
data.columns

Index(['Unnamed: 0', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges',
       'Churn'],
      dtype='object')

In [34]:
categorical_columns = X.select_dtypes(include=['object']).columns.tolist()

In [35]:
categorical_columns

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod']

In [36]:


from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Identify categorical columns
categorical_columns = X_train.select_dtypes(include=['object']).columns

# Impute missing values in both training and testing sets
imputer = SimpleImputer(strategy='most_frequent')  # You can use different strategies based on your needs
X_train_imputed = pd.DataFrame(imputer.fit_transform(X_train), columns=X_train.columns)
X_test_imputed = pd.DataFrame(imputer.transform(X_test), columns=X_test.columns)

# One-hot encode categorical columns for both training and testing sets
X_train_encoded = pd.get_dummies(X_train_imputed, columns=categorical_columns)
X_test_encoded = pd.get_dummies(X_test_imputed, columns=categorical_columns)

# Align columns to ensure the same features in both sets
X_train_encoded, X_test_encoded = X_train_encoded.align(X_test_encoded, join='outer', axis=1, fill_value=0)

In [38]:
# One-hot encode categorical columns for both training and testing sets
X_train_encoded = pd.get_dummies(X_train_imputed, columns=categorical_columns)
X_test_encoded = pd.get_dummies(X_test_imputed, columns=categorical_columns)

# Assuming X_encoded is the combined DataFrame after one-hot encoding
X_encoded = pd.concat([X_train_encoded, X_test_encoded], ignore_index=True)

# Identify all encoded columns after one-hot encoding
all_encoded_columns = X_encoded.columns.tolist()

In [39]:
# Assuming X_encoded is the DataFrame after one-hot encoding
all_encoded_columns = X_encoded.columns.tolist()

In [40]:
all_encoded_columns

['SeniorCitizen',
 'tenure',
 'MonthlyCharges',
 'TotalCharges',
 'gender_Female',
 'gender_Male',
 'Partner_No',
 'Partner_Yes',
 'Dependents_No',
 'Dependents_Yes',
 'PhoneService_No',
 'PhoneService_Yes',
 'MultipleLines_No',
 'MultipleLines_No phone service',
 'MultipleLines_Yes',
 'InternetService_DSL',
 'InternetService_Fiber optic',
 'InternetService_No',
 'OnlineSecurity_No',
 'OnlineSecurity_No internet service',
 'OnlineSecurity_Yes',
 'OnlineBackup_No',
 'OnlineBackup_No internet service',
 'OnlineBackup_Yes',
 'DeviceProtection_No',
 'DeviceProtection_No internet service',
 'DeviceProtection_Yes',
 'TechSupport_No',
 'TechSupport_No internet service',
 'TechSupport_Yes',
 'StreamingTV_No',
 'StreamingTV_No internet service',
 'StreamingTV_Yes',
 'StreamingMovies_No',
 'StreamingMovies_No internet service',
 'StreamingMovies_Yes',
 'Contract_Month-to-month',
 'Contract_One year',
 'Contract_Two year',
 'PaperlessBilling_No',
 'PaperlessBilling_Yes',
 'PaymentMethod_Bank transfer (automatic)',
 'PaymentMethod_Credit card (automatic)',
 'PaymentMethod_Electronic check',
 'PaymentMethod_Mailed check']

In [41]:
column_names = {
    'features': features,
    'numerical': numerical_columns,
    'categorical': categorical_columns,
    'all_encoded': all_encoded_columns,
}

In [42]:
import pickle

In [43]:
path_to_column_names_pkl = 'column_names.pkl'

# Save the dictionary to a pickle file
with open(path_to_column_names_pkl, 'wb') as col_names_file:
    pickle.dump(column_names, col_names_file)